@media screen and (min-width: 992px) {
	.catalog_main.catalog {
		padding-top: 14px;
	}
	.catalog__search-title {
		letter-spacing: 1px;
		margin-top: auto;
		margin-bottom: auto;
	}
	.catalog .search__select.nice-select {
		margin-right: auto;
	}
	.catalog__search-block form {
		display: flex;
	}
	.catalog__search-btn {
		margin-left: 17px;
	}
	h2.new__title {
		margin-top: 0px;
		font-weight: 500;
		letter-spacing: 4px;
	}
	.new__btn {
		margin-top: 34px;
		font-weight: 600;
		letter-spacing: 0.8px;
	}
	.footer__info {
		font-size: 11px;
		letter-spacing: 0.24px;
	}
}
